doctype html
html
  head
    title Template
    link(rel='stylesheet' href='style/index.css')

  body
    div(class="content layout")
      img(src="./vendor/img/cat.jpg")
      div(class="text")
        | Hi, I am sample text
